# Pandas, Matplotlib, Seaborn

## Installation de Pandas :
* Installation de la bibliothèque : pip install pandas
* Installation de la bibliothèque pyarrow : pip install pyarrow
* Ajouter pandas à un projet : import pandas as pd 
* Documentation : https://pandas.pydata.org/
* Tester l'import

In [31]:
import pandas as pd

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,23.445918,5.471939,194.411990,104.469388,2977.584184,15.541327,75.979592
std,7.805007,1.705783,104.644004,38.491160,849.402560,2.758864,3.683737
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.000000,4.000000,105.000000,75.000000,2225.250000,13.775000,73.000000
50%,22.750000,4.000000,151.000000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,275.750000,126.000000,3614.750000,17.025000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

## Ouverture d'un fichier CSV

In [2]:
filename = "Automobile.csv"
donnes = pd.read_csv(filename, sep=',')

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...,...
387,ford mustang gl,27.0,4,140.0,86,2790,15.6,82,usa
388,vw pickup,44.0,4,97.0,52,2130,24.6,82,europe
389,dodge rampage,32.0,4,135.0,84,2295,11.6,82,usa
390,ford ranger,28.0,4,120.0,79,2625,18.6,82,usa
391,chevy s-10,31.0,4,119.0,82,2720,19.4,82,usa

## Informations sur les données
* Dimensions des données
* Liste des colonnes
* Premières lignes
* Premières statistiques sur les données

In [3]:
donnes.get('mpg')
donnes.head(60) # les 60 première ligne
donnes.tail(20) # les 20 dernière ligne
donnes.shape() 
donnes.columns()
donnes.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,23.445918,5.471939,194.411990,104.469388,2977.584184,15.541327,75.979592
std,7.805007,1.705783,104.644004,38.491160,849.402560,2.758864,3.683737
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.000000,4.000000,105.000000,75.000000,2225.250000,13.775000,73.000000
50%,22.750000,4.000000,151.000000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,275.750000,126.000000,3614.750000,17.025000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

## Accéder aux informations 
* Visualiser une colonne
* Visualiser une ligne
* Visualiser une sous matrice
* Visualiser des lignes pour une colonne donnée

In [43]:
donnes['horsepower'] # get a column 
donnes[['horsepower', 'mpg']] # get columns 

donnes.iloc[1] # get specifique ligne 
donnes.loc[[4, 8, 11]] # get specifiques lignes
donnes['horsepower'][5:10] # get specifiques lign in column

donnes.iloc[5:13, 1:4] # get specific lignes and columns
donnes[['horsepower', 'mpg']][5:10] # get specific columns and lignes

   horsepower   mpg
5         198  15.0
6         220  14.0
7         215  14.0
8         225  14.0
9         190  15.0

## Supprimer des lignes

In [47]:
donnes.drop([1, 2, 3], axis=0) # Axis 0 -> ligne // Axis 1 -> column
donnes.drop(['mpg', 'name'], axis=1)
donnes # you might want to assign result

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...,...
387,ford mustang gl,27.0,4,140.0,86,2790,15.6,82,usa
388,vw pickup,44.0,4,97.0,52,2130,24.6,82,europe
389,dodge rampage,32.0,4,135.0,84,2295,11.6,82,usa
390,ford ranger,28.0,4,120.0,79,2625,18.6,82,usa
391,chevy s-10,31.0,4,119.0,82,2720,19.4,82,usa

## Supprimer des colonnes

In [58]:
toDelet = donnes[donnes['origin'] == 'usa'].index
donnes.drop(toDelet)

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
14,toyota corona mark ii,24.0,4,113.0,95,2372,15.0,70,japan
18,datsun pl510,27.0,4,97.0,88,2130,14.5,70,japan
19,volkswagen 1131 deluxe sedan,26.0,4,97.0,46,1835,20.5,70,europe
20,peugeot 504,25.0,4,110.0,87,2672,17.5,70,europe
21,audi 100 ls,24.0,4,107.0,90,2430,14.5,70,europe
...,...,...,...,...,...,...,...,...,...
377,honda civic,38.0,4,91.0,67,1965,15.0,82,japan
378,honda civic (auto),32.0,4,91.0,67,1965,15.7,82,japan
379,datsun 310 gx,38.0,4,91.0,67,1995,16.2,82,japan
384,toyota celica gt,32.0,4,144.0,96,2665,13.9,82,japan
388,vw pickup,44.0,4,97.0,52,2130,24.6,82,europe

## Sélection des données
* Sélectionner à partir d'un critère
* Récupérer les index des lignes sélectionnées
* Supprimer les lignes sélectionnées

In [53]:
mask = donnes['mpg'] > 30   # 
mask                        # get boolean value of witch ligne match the predicate
donnes[donnes['mpg'] > 30]  # apply predicate on donnes
donnes[mask]

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
52,toyota corolla 1200,31.0,4,71.0,65,1773,19.0,71,japan
53,datsun 1200,35.0,4,72.0,69,1613,18.0,71,japan
127,datsun b210,31.0,4,79.0,67,1950,19.0,74,japan
129,toyota corolla 1200,32.0,4,71.0,65,1836,21.0,74,japan
142,toyota corona,31.0,4,76.0,52,1649,16.5,74,japan
...,...,...,...,...,...,...,...,...,...
384,toyota celica gt,32.0,4,144.0,96,2665,13.9,82,japan
385,dodge charger 2.2,36.0,4,135.0,84,2370,13.0,82,usa
388,vw pickup,44.0,4,97.0,52,2130,24.6,82,europe
389,dodge rampage,32.0,4,135.0,84,2295,11.6,82,usa
391,chevy s-10,31.0,4,119.0,82,2720,19.4,82,usa

## Quelques valeurs statistiques 
* Compter les valeurs
* Moyenne avec aggrégation des données
* Maximum/Minimum avec aggrégation des données

In [90]:
donnes['mpg'].value_counts()
donnes.groupby(['origin'])['mpg'].mean() # aggragate by origin -> get 'mpg' column -> get mean
donnes.groupby(['origin'])['mpg'].max()
donnes.groupby(['origin'])['mpg'].min()
donnes.groupby(['origin'])['mpg'].describe()['count'] # get a column of the result
donnes.groupby(['origin'])['mpg'].describe()

donnes[donnes['mpg'] == donnes['mpg'].min()] # the ligne with de minimal 'mpg' value
# donnes[donnes['mpg'] == 9.0] # equal

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
28,hi 1200d,9.0,8,304.0,193,4732,18.5,70,usa

## Installation de Matplotlib :
* Installation de la bibliothèque : pip install matplotlib
* Ajouter matplotlib à un projet : import matplotlib.pyplot as plt 
* Documentation : https://matplotlib.org/
* Tester l'import

In [91]:

import matplotlib.pyplot as plt 

#math = [13, 14, 12, 18, 5, 10, 14, 8, 13, 3]
#prog = [14, 12, 15, 17, 7, 9, 16, 9, 13, 4]

#plt.scatter(math, prog)
#plt.title('Correlation math-prog')
#plt.xlabel('Note en math')
#plt.ylabel('Note en prog')
#plt.savefig('note.svg')

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/traitlets/config/application.py", line 1075, in launch_instance
    app.start()
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/ipykernel/kernelapp.py", line 739, in start
    self.io_loop.start()
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/asyncio/base_events.py", line 604, in run_forever
    self._run_once()
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/asyncio/base_events.py", line 1909, in _run_once
    handle._run()
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/asyncio/events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/ipykernel/kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/ipykernel/kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/ipykernel/kernelbase.py", line 437, in dispatch_shell
    await result
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/ipykernel/ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/ipykernel/kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/ipykernel/ipkernel.py", line 449, in do_execute
    res = shell.run_cell(
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/ipykernel/zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/IPython/core/interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/IPython/core/interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/IPython/core/async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/IPython/core/interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/IPython/core/interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/IPython/core/interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/vb/pl6xtjh94214drhw5hs0fzvw0000gn/T/ipykernel_21515/1681449966.py", line 1, in <module>
    import matplotlib.pyplot as plt
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/matplotlib/__init__.py", line 159, in <module>
    from . import _api, _version, cbook, _docstring, rcsetup
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/matplotlib/rcsetup.py", line 28, in <module>
    from matplotlib.colors import Colormap, is_color_like
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/matplotlib/colors.py", line 57, in <module>
    from matplotlib import _api, _cm, cbook, scale
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/matplotlib/scale.py", line 22, in <module>
    from matplotlib.ticker import (
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/matplotlib/ticker.py", line 144, in <module>
    from matplotlib import transforms as mtransforms
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/matplotlib/transforms.py", line 49, in <module>
    from matplotlib._path import (

AttributeError: _ARRAY_API not found

ImportError: numpy.core.multiarray failed to import

## Installation de Seaborn :
* Installation de la bibliothèque : pip install seaborn
* Ajouter seaborn à un projet : import seaborn as sns
* Documentation : https://seaborn.pydata.org/
* Tester l'import

In [83]:
import seaborn as sns

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/traitlets/config/application.py", line 1075, in launch_instance
    app.start()
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/ipykernel/kernelapp.py", line 739, in start
    self.io_loop.start()
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/asyncio/base_events.py", line 604, in run_forever
    self._run_once()
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/asyncio/base_events.py", line 1909, in _run_once
    handle._run()
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/asyncio/events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/ipykernel/kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/ipykernel/kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/ipykernel/kernelbase.py", line 437, in dispatch_shell
    await result
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/ipykernel/ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/ipykernel/kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/ipykernel/ipkernel.py", line 449, in do_execute
    res = shell.run_cell(
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/ipykernel/zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/IPython/core/interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/IPython/core/interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/IPython/core/async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/IPython/core/interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/IPython/core/interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/Users/cheliel/Library/Python/3.11/lib/python/site-packages/IPython/core/interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/vb/pl6xtjh94214drhw5hs0fzvw0000gn/T/ipykernel_21515/2351219987.py", line 1, in <module>
    import seaborn as sns
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/seaborn/__init__.py", line 2, in <module>
    from .rcmod import *  # noqa: F401,F403
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/seaborn/rcmod.py", line 3, in <module>
    import matplotlib as mpl
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/matplotlib/__init__.py", line 113, in <module>
    from . import _api, _version, cbook, _docstring, rcsetup
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/matplotlib/rcsetup.py", line 27, in <module>
    from matplotlib.colors import Colormap, is_color_like
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/matplotlib/colors.py", line 56, in <module>
    from matplotlib import _api, _cm, cbook, scale
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/matplotlib/scale.py", line 22, in <module>
    from matplotlib.ticker import (
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/matplotlib/ticker.py", line 138, in <module>
    from matplotlib import transforms as mtransforms
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/matplotlib/transforms.py", line 49, in <module>
    from matplotlib._path import (

AttributeError: _ARRAY_API not found

ImportError: numpy.core.multiarray failed to import

## Coefficiant de correlation avec Numpy

In [75]:
import numpy as np

math = [13, 14, 12, 18, 5, 10, 14, 8, 13, 3]
prog = [14, 12, 15, 17, 7, 9, 16, 9, 13, 4]

np.corrcoef(math, prog)

array([[1.        , 0.93789962],
       [0.93789962, 1.        ]])